/*
*
*   estilo da home
*
*/
.home, .descricao, .vendas, .banner {
  height: 100vh;
  width: 100%; }

.wrapper-all {
  height: 100%; }

.wrapper-content-circle {
  align-self: center; }

.wrapper-content-descricao {
  align-self: flex-end; 
  padding-top: 70px;}

.home {
  font-style:bold; }

.blur{
  filter: blur(3px);
}

.navbar-home {
  justify-content: flex-end;
  width: 100%;
  padding-top: 10%;
  font-size: 16px;  
  text-decoration: none;
  transition: .1s ease-in-out; }
  .navbar-home .navbar-wrapper {
    padding-right: 30px; }
  .navbar-home .navbar-color {
    padding-right: 20px; }
      .navbar-home .navbar-color li {
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 13px;
      transition: 0.3s; }
        .navbar-home .navbar-color li:last-child{
          background-color: #eb244e;
          border-radius: 13px;
          margin-left: 5px; }
      .navbar-home .navbar-color li a {
        color: white !important; }
        
.banner{
  background-image: url("../img/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute; }

.nav-item:hover{
  background-color:#eb244e;
  transform: translate(-3px,-3px); 
  text-shadow: 1px 1px 8px #000;
  -webkit-box-shadow: 1px 2px 2px #000000;
  box-shadow: 1px 2px 2px #731328;  }

  .microphone{
  margin-top: -9px;
  margin-bottom: -5px;
  margin-left: -13px;
  padding-right: 5px;
  height: 26px; }

.logo{
  height: 100px;
  width: 306px;
  margin-top: -50px;
  background-image: url("../img/logo-som-de-garagem.png");
  background-size: cover; }

.content-home {
  height: 100%;
  color: white;
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
  text-shadow: 1px 1px 12px #000; }
  
  .content-home img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-left: 20px; }

.wrapper-content {
  height: 80%;
  display: flex;
  justify-content: center; }

.wrapper-content-home {
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: flex; }

.descricao > h1 {
  padding-top: 50px;
  padding-bottom: 120px;
  text-align: center; }

.wrapper-circle {
  display: flex;
  align-items: center;
  justify-content: center; }

.circle-one,
.circle-two,
.circle-three {
  width: 200px;
  height: 200px;
  border-radius: 100%; 
  background-position: center;
  -webkit-box-shadow: 0px 3px 2px #868686;
  box-shadow: 0px 3px 2px #868686;
  transition: 0.3s; }

.item:hover{
  -webkit-transform: scale(1.1); }

.descricao .wrapper-circle {
  align-self: center;
  justify-content: space-evenly; }

.content-descricao {
  align-self: center;
  text-align: center;
  font-weight: 500;
  color: #656565;
  margin-top: 20px; }
  
.circle-border{
  background: #dadada;
  width: 225px;
  height: 225px;
  padding: 13px;
  border-radius: 100%;
  transition: 0.3s; }

.circle-one {
  background-image: url("../img/circle-one.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  }

.circle-two {
  background-image: url("../img/circle-two.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.circle-three {
  background-image: url("../img/circle-three.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.vendas {
  display: flex;
  flex-direction: column;
  align-items: center; }

.wrapper-plan-free,
.wrapper-plan-premium {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.content-free,
.content-premium {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    align-items: center;
    -webkit-box-shadow: 1px 1px 1px;
    box-shadow: 1px 1px 1px #a8a6a6; }

#description{
  margin-bottom: 60px; }

#description h1{
  color:#eb244e;
  text-shadow: 1px 1px 12px #dadada; }

.color{
  color:#eb244e;
  font-weight: bold; }


.btn-color{
  width: 280px;
  background: #eb244e;
  border:none;
  border-radius: 35px;
  font-weight: 400; }

.btn-color:hover{
  background:#ce123b;
  border:none; }

#rodape{
  height: 100%;
  width: 100%; 
  background: black; }

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ce123b;
  border-color: white; }

.btn-primary.focus, 
.btn-primary:focus {
  box-shadow: none;
  border: none; }

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  box-shadow: none;
  border:none; }

.garage{
  display: inline-flex;
  width: 80px;
  font-size: 15px;
  font-weight: 500;
  text-shadow: 1px 1px 12px #dadada;
  justify-content: space-around; }

.garage-free-premium{
  font-size: 30px;
  font-weight: 800; 
  align-self: flex-end; 
  padding-right: 15px; }

.garage p:last-child{
  color: #eb244e; 
  align-self: flex-end; }

.garage-free-premium .free{
  padding-right: 200px; }

.garagem-left{
  padding-left: 70px; }

.app{
  margin-bottom: 80px;
  align-self: center;
  text-align: center;
  justify-content: space-evenly; }

.logo-mockup{
  width: 100px; }

.logo-google{
  width: 250px;
  margin-top: 10px; }

.mockup-color{
  font-weight: bold;
  color:black; }

.download{
  color:#656565;  }

.mockup-principal{
  width:180px; }

@media (max-width: 768px){
  .logo{
    margin-left:0;
    margin-right: auto;
    margin-top:10px; }

  .descricao > h1{
    padding-bottom: 0;
    padding-top: 25px;}
  
  .wrapper-circle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px; }

  .circle-border{
    margin: 5px;
    margin-top: 15px;
    padding:5px; }

  .content-descricao{
    margin-top: 50px; }

  .wrapper-content-descricao{
    padding-top: 0;  }
  
  .wrapper-plan-free, .wrapper-plan-premium{
    display: flex;
    flex-direction: column;
    margin-top: 40px;}

  .wrapper-plan-free{
    margin-top: 10px; }
  
  .app{
    margin-top: 115px;
    margin-bottom: 40px; }

  .mockup-principal{
    display: none;  }

  .logo-google{
    margin-top: 25px;  }

  .circle-border{
    width: 100px;
    height: 100px; }

  .circle-one, .circle-two, .circle-three {
    width: 90px;
    height: 90px;
    background-repeat: no-repeat; }

  .banner {
    background-image: url("../img/home-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; }

  #description{
    margin-bottom: -40px;
  }
}

@media (max-width: 991px){
  .logo{
    margin-top: -10px; 
    margin-right: auto; }
  
  .content-free, .content-premium{
    width: 100%;
    display: flex;
    flex-direction: column; }

  .circle-one, .circle-two, .circle-three {
    background-repeat: no-repeat; }

  .wrapper-content-home{
    display: none; }
}

@media (max-width: 371px){
  .garage{
    display: flex;
    flex-direction: column; 
    justify-content: normal;
    margin: 15px;}

  .garagem-left{
    padding:0; }

  .wrapper-plan-free {
    margin-top: 50px; }

  .app{
    margin-top: 170px; }

  .garage p:last-child{
    display: flex;
    align-self: flex-start;
    margin-top: -20px; }

  .content-free, .content-premium{
    height: 220px;
    align-items: normal; }
  
  .circle-one, .circle-two, .circle-three {
    background-repeat: no-repeat; }
}

@media (min-width: 372px){
  .garage{
    display: inline-flex;
    margin: 15px; }

  .garage p:last-child{
    display: flex;
    align-self: flex-end;
    margin-top: -20px; }

  .garagem-left{
    padding-left:0; }

  .content-free, .content-premium{
    height: 220px;
    align-items: center; }

  .circle-one, .circle-two, .circle-three {
      background-repeat: no-repeat; }
}

@media (max-width: 440px){
  .logo{
    background-image: url("../img/logo.jpeg");
    height: 118px;
    width: 115px;  }
}

/*# sourceMappingURL=style.css.map */
