body {
  margin: 0;
  background-image:url('../img/bg-darkpink.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: relative;
  color: #fff;
  opacity: 0;
  transition: .8s ease-in-out;
}

#progress {
  position: absolute;
  height: 100vh;
  width: 0;
  opacity: 0.3;
  transition: width 0.2s ease-in-out;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/******
  Form
  ******/

#register {
  background: #fff;
  position: relative;
  width: 410px;
  padding: 2px 15px 20px 15px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  transition: transform .1s ease-in-out;
}

#register.close {
  width: 0;
  padding: 0;
  overflow: hidden;
  transition: .8s ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0);
}

.next {
  position: absolute;
  right: -5px;
  bottom: 10px;
  font-size: 40px;
  color: #ce123b;
  float: right;
  cursor: pointer;
}
.next:hover {color: #000}
.wrong .next {color: #ff2d26}
.close .next {color: #fff}

#inputContainer {
  position: relative;
  opacity: 0;
  width: 350px;
  margin-top: 25px;
  transition: opacity .3s ease-in-out;
}

#inputContainer input {
  padding: 0 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  outline: 0;
  background: transparent;
  box-shadow:none;
}

#inputLabel {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 0 5px;
  transition: .2s ease-in-out;
}

#inputContainer input:valid + #inputLabel {
  top: -15px;
  font-size: 11px;
  font-weight: normal;
  color: #9e9e9e;
}

#inputProgress {
  position: absolute;
  border-bottom: 2px solid #ce123b;
  padding: 3px 0;
  width: 0;
  transition: width .6s ease-in-out;
}

.wrong #inputProgress {
  border-color: #ff2d26;
}

#inputField{
  width: 350px;
}

/* XABLAU */    
/*Formulário Cadastro */  

.input-options{
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
font-size: 20px;
}

.input-options input{
  margin-top: 30px;
  /* margin-right: 10px; */
}

.input-options label{
  margin-top: 40px;
  white-space: nowrap;
}

.list-options{
display: flex;
border-radius: 35px;
border: 2px solid red;
text-align: center;
font-weight: 700;
margin-top: 45px;
margin-right: 15px;
}

.main{
min-height: 100vh;
display: flex;
align-items: center;
}

.f_container{
display: flex;
align-items: center;
}

.f-dis{
    align-self: center;
}

.btn-minhacor{
background-color: #eb244e;
width: 30%;
border-radius: 35px;
}

.btn-minhacor:hover,
.btn-minhacor:focus,
.btn-minhacor:visited{
background-color: #ce123b;
}

.hack{
display: flex;
justify-content: center;
}

.f_padding-cadastro{
padding-top: 100px;
padding-bottom: 90px;
}

.test-link{
  background-color: transparent;
}

.btn-padding{
padding-top: 50px;
}

.input-name{
border: none;
border-bottom: 1px solid #ccc;
}

.form-group:hover,
.form-group:focus,
.form-group:visited{
color: #ce123b;
border: #ce123b;
}

.wrapper-square {
display: flex;
}

.music-options{
  margin-top: 20px;
  margin-right: 10px;
}

.check-option{
  margin-top: 47px !important;
}