/*
*
*   estilo da home
*
*/

.home,
.descricao{
    height: 100vh;
    width: 100%;
}


.home{
    background-image: url('../img/home-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar-home{
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    padding-top: 10%;
    font-size: 16px;
    text-decoration: none;
    .navbar-wrapper{
        padding-right: 30px;
    }
    .navbar-color{
        padding-right: 20px;
        li{
            padding-left: 15px;
            padding-right: 15px;
            a{
                color: white!important;
            }
        }
    }
}

.content-home {
    height: 100%;
    color: white;
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    img{
        width: 80px;
        height: 80px;
    }
}

.wrapper-content-home{
    width: 100%;
    // justify-content: space-evenly;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
}

// tarefa - executar o sass watch em outras pastas, se der e componentizar esses arquivos sass


.descricao{
    display: flex;
    flex-direction: column;
}

.descricao > h1{
    padding-top: 20px;
    text-align: center;
}

.wrapper-circle{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-one,
.circle-two,
.circle-three{
    border: 1px solid #000;
    width:  200px;
    height: 200px;
    border-radius: 100%;
}

.descricao .wrapper-circle{
    align-self: center;
    justify-content: space-evenly;
}

.content-descricao{
    display: flex;
    align-self: center;
    width: 60%;
    height: 20%;
    text-align: center;

}