.wrapper{
    padding-top: 60px;
    background-color: #212121;
    min-height: 85vh;
}

.perfil-artists{
    height: 100%;
    border: 1px solid #ced4da;
}

.player{
    color: black;
    position: absolute;
    bottom: 0;
    background-color: #f1f3f4;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.titulo-musica{
    width: 35%;
    text-align: center;
}

.player-musica{
    width: 65%;
}
.control-song{
    width: 80%;
}

/* .remove-display{
    display: block!important;
} */

.color-icon{
    color: white;
}

.fix-index{
    position: fixed;
    text-align: center;
    padding: 5px;
    right: 0;
}

.profile-toggle{
    right: 0;
    border-radius: 50px 0 0 50px!important;
}