.wrapper{
    padding-top: 60px;
    background-color: #212121;
    min-height: 85vh;
}

.perfil-artists{
    height: 100%;
    border: 1px solid #ced4da;
}

.player{
    color: black;
    position: absolute;
    bottom: 0;
    background-color: #f1f3f4;
    width: 100%;
    display: inline-flex;
    align-items: center;
}

.titulo-musica{
    width: 35%;
    text-align: center;
}

.player-musica{
    width: 65%;
}
.control-song{
    width: 80%;
}

/* .remove-display{
    display: block!important;
} */

.color-icon{
    color: white;
}

.fix-index{
    position: fixed;
    text-align: center;
    padding: 5px;
    right: 0;
}

.profile-toggle{
    right: 0;
    border-radius: 50px 0 0 50px!important;
}

.logo img{
    width: 120px;
}

.img-card{
    background: url('../img/decaidos_logo.jpeg')no-repeat;
    background-size: cover;
    background-position: center;
    height: 151px;
}

.wrapper-response{
    padding-top: 10px;
}

.login-faixa{
    margin-top: 5%;
    width: 100%;
    height: 100px;
    background-color: #f50057;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-faixa{
    height: 85px;
}

/* login */

.button-cadastrar{
    margin-top: 15;
}


.img-register-wrapper{
    width: 100%;
    min-height: 100vh;
    background: url('../img/register-img.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}